doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    meta(content='width=device-width, initial-scale=1', name='viewport')
  body
    #container
      block content
  script(type="text/javascript" src="/javascripts/index.js")